@import url(../fonts/fonts.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  width: auto;
}

button {
  transition: all 0.3s ease-in-out;
}

.wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper-wide {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.top {
display: flex;
flex-wrap: nowrap;
max-width: 1300px;
margin: 0;
margin-top: 40px;
}

.header__logo {
  max-width: 226px;
}

.header__menu {
width: 700px;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
   font-family: "Montserrat";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 25px;
   color: #FFF;

  }

.li {
  list-style-type: none;
  text-align: center;
  
}

.header__phone {
position: absolute;
max-width: 164px;
height: 16px;
left: 1000px;
top: 68px;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 30px;
text-align: right;
color: #FFF;
}

.main-banner {
background-image: url(../images/back.png);
background-repeat: no-repeat;
background-position: center;
}

h1 {
  font-family: "Montserrat";
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 55px;
color: #FFFFFF;
}

.main-banner__text {
font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 148.6%;
color: #FFFFFF;
}

button {
  position: absolute;
  width: 246px;
  height: 59px;
  background: #0266C1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 158.86%;
  color: #FFFFFF;
}

