@import url(../fonts/fonts.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  width: auto;
}

button {
  transition: all 0.3s ease-in-out;
}

.wrapper {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
}

.site-header {
  margin: 0 auto;
  background-image: url(../images/облака.png), url(../images/back.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0;
  min-height: 770px;
  }


.top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 226px;
  margin-top: 40px;
}

.header__menu {
  margin-top: 45px;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.menu_a {
  margin-right: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

.header__phone {
  margin-top: 45px;
}

.h-phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  text-align: right;
  color: #fff;
}

.main-banner {
  position: relative;
     }

.main-banner__shadow_text {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 93px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f5f9fc;
  opacity: 0.2;
  z-index: 2;
  bottom: 75px;
}

.main-banner__text {
  position: relative;
  max-width: 586px;
  max-height: 169px;
  margin-top: 160px;
}

.main-banner__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  color: #fff;
  z-index: 1;
}

.main-banner__paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
  margin-top: 10px;
}

button {
  width: 246px;
  height: 59px;
  background: #0266c1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-top: 35px;
}

.main-banner__icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  right: 0;
}

.main-banner-icon {
  width: 22px;
  background: #0266c1;
  opacity: 0.43;
  margin-right: 22px;
  height: 22px;
  display:flex;
  justify-content: center;
  align-items: center;
  }

  /* tours section */

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  color: #2d383f;
}

.tour-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-items_text {
  font-family: Montserrat;
  color: #FFFFFF;
}

.tour {
  width: 384px;
  height: 412px;
  display: flex;
  flex-direction: column;
}

.tour1 {
  background-image: url(/images/tour1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tour2 {
  background-image: url(/images/tour2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tour3 {
  background-image: url(/images/tour3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tours-items__first-line {
  display: flex;
  justify-content: space-around;
  }

.tour-heading {

}








/* Footer */

.footer-section {
  max-height: 165px;
}


.footer-panel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

.footer-menu__item {
 margin-right: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2D383F;
}



.f-phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  text-align: right;
  color: #2D383F;
}


.footer-icons {
  max-width: 130px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 530px;
  margin-bottom: 35px;
}

.footer-icon {
  opacity: 0.43;
border: 1px solid #2D383F;
box-sizing: border-box;
display:flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.footer-policy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
}

.footer-policy__text {
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #2D383F;
}